 <style type="text/css">@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');
.lst-kix_5gtlvwmp2s74-2>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-2
}
ol.lst-kix_5gtlvwmp2s74-5.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-5 0
}
.lst-kix_9geft2qebd52-7>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-7
}
ol.lst-kix_5gtlvwmp2s74-8{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-7{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-6{
    list-style-type:none
}
.lst-kix_5gtlvwmp2s74-1>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-1
}
ol.lst-kix_5gtlvwmp2s74-5{
    list-style-type:none
}
.lst-kix_91ghffhy9fsc-8>li:before{
    content:"\0025a0 "
}
ol.lst-kix_5gtlvwmp2s74-4{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-3{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-2{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-0{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-1{
    list-style-type:none
}
.lst-kix_91ghffhy9fsc-6>li:before{
    content:"\0025cf "
}
.lst-kix_91ghffhy9fsc-7>li:before{
    content:"\0025cb "
}
ol.lst-kix_5gtlvwmp2s74-0{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-2{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-1{
    list-style-type:none
}
.lst-kix_9geft2qebd52-8>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-8
}
.lst-kix_z7qqewxw3plw-0>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-0
}
ol.lst-kix_z7qqewxw3plw-6.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-6 0
}
ol.lst-kix_9geft2qebd52-4{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-3{
    list-style-type:none
}
.lst-kix_91ghffhy9fsc-5>li:before{
    content:"\0025a0 "
}
ol.lst-kix_9geft2qebd52-6{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-5{
    list-style-type:none
}
ol.lst-kix_z7qqewxw3plw-3.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-3 0
}
ol.lst-kix_5gtlvwmp2s74-8.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-8 0
}
ol.lst-kix_z7qqewxw3plw-0.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-0 0
}
ol.lst-kix_9geft2qebd52-2.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-2 0
}
.lst-kix_z7qqewxw3plw-1>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-1
}
ol.lst-kix_5gtlvwmp2s74-2.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-2 0
}
ol.lst-kix_9geft2qebd52-5.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-5 0
}
.lst-kix_im44l1utd4u8-8>li:before{
    content:"\0025a0 "
}
.lst-kix_5gtlvwmp2s74-3>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-3,decimal) ". "
}
.lst-kix_5gtlvwmp2s74-5>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-5
}
.lst-kix_5gtlvwmp2s74-2>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-2,lower-roman) ". "
}
.lst-kix_5gtlvwmp2s74-1>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-1,lower-latin) ". "
}
.lst-kix_im44l1utd4u8-4>li:before{
    content:"\0025cb "
}
.lst-kix_im44l1utd4u8-3>li:before{
    content:"\0025cf "
}
.lst-kix_5gtlvwmp2s74-0>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-0,decimal) ". "
}
ol.lst-kix_5gtlvwmp2s74-3.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-3 0
}
ol.lst-kix_z7qqewxw3plw-1.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-1 0
}
.lst-kix_im44l1utd4u8-5>li:before{
    content:"\0025a0 "
}
.lst-kix_im44l1utd4u8-6>li:before{
    content:"\0025cf "
}
.lst-kix_im44l1utd4u8-7>li:before{
    content:"\0025cb "
}
.lst-kix_5gtlvwmp2s74-4>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-4
}
.lst-kix_91ghffhy9fsc-2>li:before{
    content:"\0025a0 "
}
.lst-kix_91ghffhy9fsc-3>li:before{
    content:"\0025cf "
}
.lst-kix_9g7ir7vcge3-2>li:before{
    content:"\0025a0 "
}
.lst-kix_9g7ir7vcge3-4>li:before{
    content:"\0025cb "
}
.lst-kix_91ghffhy9fsc-0>li:before{
    content:"\0025cf "
}
.lst-kix_91ghffhy9fsc-4>li:before{
    content:"\0025cb "
}
.lst-kix_9g7ir7vcge3-1>li:before{
    content:"\0025cb "
}
.lst-kix_9g7ir7vcge3-5>li:before{
    content:"\0025a0 "
}
.lst-kix_z7qqewxw3plw-2>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-2
}
ol.lst-kix_z7qqewxw3plw-8.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-8 0
}
.lst-kix_9g7ir7vcge3-0>li:before{
    content:"\0025cf "
}
.lst-kix_9g7ir7vcge3-6>li:before{
    content:"\0025cf "
}
.lst-kix_9g7ir7vcge3-8>li:before{
    content:"\0025a0 "
}
.lst-kix_91ghffhy9fsc-1>li:before{
    content:"\0025cb "
}
.lst-kix_9g7ir7vcge3-7>li:before{
    content:"\0025cb "
}
ol.lst-kix_5gtlvwmp2s74-4.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-4 0
}
.lst-kix_im44l1utd4u8-1>li:before{
    content:"\0025cb "
}
.lst-kix_im44l1utd4u8-0>li:before{
    content:"\0025cf "
}
.lst-kix_im44l1utd4u8-2>li:before{
    content:"\0025a0 "
}
.lst-kix_9geft2qebd52-6>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-6
}
.lst-kix_9geft2qebd52-3>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-3
}
ol.lst-kix_z7qqewxw3plw-2.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-2 0
}
.lst-kix_z7qqewxw3plw-5>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-5
}
.lst-kix_9geft2qebd52-0>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-0
}
ol.lst-kix_9geft2qebd52-4.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-4 0
}
.lst-kix_z7qqewxw3plw-8>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-8
}
.lst-kix_9g7ir7vcge3-3>li:before{
    content:"\0025cf "
}
ol.lst-kix_z7qqewxw3plw-5{
    list-style-type:none
}
.lst-kix_9geft2qebd52-1>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-1
}
ol.lst-kix_z7qqewxw3plw-6{
    list-style-type:none
}
.lst-kix_z7qqewxw3plw-6>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-6
}
ol.lst-kix_z7qqewxw3plw-7{
    list-style-type:none
}
ol.lst-kix_z7qqewxw3plw-8{
    list-style-type:none
}
ol.lst-kix_z7qqewxw3plw-1{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-1{
    list-style-type:none
}
ol.lst-kix_z7qqewxw3plw-2{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-0{
    list-style-type:none
}
ol.lst-kix_z7qqewxw3plw-3{
    list-style-type:none
}
ol.lst-kix_z7qqewxw3plw-4{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-5{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-4{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-3{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-2{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-8{
    list-style-type:none
}
.lst-kix_5gtlvwmp2s74-8>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-8
}
ul.lst-kix_91ghffhy9fsc-7{
    list-style-type:none
}
ul.lst-kix_91ghffhy9fsc-6{
    list-style-type:none
}
.lst-kix_5gtlvwmp2s74-7>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-7
}
ol.lst-kix_9geft2qebd52-3.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-3 0
}
ol.lst-kix_9geft2qebd52-0.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-0 0
}
.lst-kix_9geft2qebd52-2>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-2
}
ol.lst-kix_z7qqewxw3plw-0{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-6.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-6 0
}
ol.lst-kix_9geft2qebd52-6.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-6 0
}
.lst-kix_z7qqewxw3plw-4>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-4
}
.lst-kix_z7qqewxw3plw-7>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-7
}
ol.lst-kix_z7qqewxw3plw-7.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-7 0
}
.lst-kix_5gtlvwmp2s74-4>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-4,lower-latin) ". "
}
.lst-kix_z7qqewxw3plw-6>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-6,decimal) ". "
}
ol.lst-kix_5gtlvwmp2s74-0.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-0 0
}
.lst-kix_5gtlvwmp2s74-5>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-5,lower-roman) ". "
}
.lst-kix_z7qqewxw3plw-5>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-5,lower-roman) ". "
}
.lst-kix_z7qqewxw3plw-7>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-7,lower-latin) ". "
}
.lst-kix_9geft2qebd52-0>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-0,decimal) ". "
}
.lst-kix_9geft2qebd52-4>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-4
}
.lst-kix_5gtlvwmp2s74-7>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-7,lower-latin) ". "
}
.lst-kix_9geft2qebd52-1>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-1,lower-latin) ". "
}
ol.lst-kix_5gtlvwmp2s74-7.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-7 0
}
.lst-kix_5gtlvwmp2s74-6>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-6,decimal) ". "
}
.lst-kix_z7qqewxw3plw-2>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-2,lower-roman) ". "
}
ul.lst-kix_im44l1utd4u8-2{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-2{
    list-style-type:none
}
.lst-kix_9geft2qebd52-3>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-3,decimal) ". "
}
ul.lst-kix_im44l1utd4u8-3{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-3{
    list-style-type:none
}
.lst-kix_z7qqewxw3plw-3>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-3,decimal) ". "
}
ul.lst-kix_im44l1utd4u8-4{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-4{
    list-style-type:none
}
.lst-kix_9geft2qebd52-2>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-2,lower-roman) ". "
}
.lst-kix_9geft2qebd52-4>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-4,lower-latin) ". "
}
ul.lst-kix_im44l1utd4u8-5{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-5{
    list-style-type:none
}
.lst-kix_z7qqewxw3plw-4>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-4,lower-latin) ". "
}
ul.lst-kix_im44l1utd4u8-0{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-0{
    list-style-type:none
}
.lst-kix_5gtlvwmp2s74-8>li:before{
    content:"" counter(lst-ctn-kix_5gtlvwmp2s74-8,lower-roman) ". "
}
ol.lst-kix_z7qqewxw3plw-4.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-4 0
}
ul.lst-kix_im44l1utd4u8-1{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-1{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-8.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-8 0
}
ul.lst-kix_9g7ir7vcge3-6{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-7{
    list-style-type:none
}
ul.lst-kix_9g7ir7vcge3-8{
    list-style-type:none
}
.lst-kix_z7qqewxw3plw-8>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-8,lower-roman) ". "
}
.lst-kix_z7qqewxw3plw-3>li{
    counter-increment:lst-ctn-kix_z7qqewxw3plw-3
}
.lst-kix_9geft2qebd52-5>li{
    counter-increment:lst-ctn-kix_9geft2qebd52-5
}
ol.lst-kix_9geft2qebd52-8{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-7{
    list-style-type:none
}
ol.lst-kix_5gtlvwmp2s74-1.start{
    counter-reset:lst-ctn-kix_5gtlvwmp2s74-1 0
}
.lst-kix_5gtlvwmp2s74-6>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-6
}
ol.lst-kix_z7qqewxw3plw-5.start{
    counter-reset:lst-ctn-kix_z7qqewxw3plw-5 0
}
.lst-kix_5gtlvwmp2s74-0>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-0
}
.lst-kix_5gtlvwmp2s74-3>li{
    counter-increment:lst-ctn-kix_5gtlvwmp2s74-3
}
.lst-kix_9geft2qebd52-7>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-7,lower-latin) ". "
}
.lst-kix_9geft2qebd52-6>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-6,decimal) ". "
}
.lst-kix_9geft2qebd52-8>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-8,lower-roman) ". "
}
ul.lst-kix_im44l1utd4u8-6{
    list-style-type:none
}
.lst-kix_9geft2qebd52-5>li:before{
    content:"" counter(lst-ctn-kix_9geft2qebd52-5,lower-roman) ". "
}
ol.lst-kix_9geft2qebd52-7.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-7 0
}
ul.lst-kix_im44l1utd4u8-7{
    list-style-type:none
}
ol.lst-kix_9geft2qebd52-1.start{
    counter-reset:lst-ctn-kix_9geft2qebd52-1 0
}
ul.lst-kix_im44l1utd4u8-8{
    list-style-type:none
}
.lst-kix_z7qqewxw3plw-1>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-1,lower-latin) ". "
}
.lst-kix_z7qqewxw3plw-0>li:before{
    content:"" counter(lst-ctn-kix_z7qqewxw3plw-0,decimal) ". "
}
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c16{
    border-right-style:solid;
    padding-top:0pt;
    border-top-width:0pt;
    border-right-width:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.3333333333333333;
    border-left-width:0pt;
    border-top-style:solid;
    background-color:#ffffff;
    border-left-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    orphans:2;
    widows:2;
    text-align:justify;
    padding-right:0pt
}
.c4{
    border-right-style:solid;
    padding-top:10pt;
    border-top-width:0pt;
    border-right-width:0pt;
    padding-left:0pt;
    padding-bottom:10pt;
    line-height:1.15;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    orphans:2;
    widows:2;
    text-align:justify;
    padding-right:0pt
}
.c21{
    border-right-style:solid;
    padding-top:0pt;
    border-top-width:0pt;
    border-right-width:0pt;
    padding-left:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    border-bottom-style:solid;
    orphans:2;
    widows:2;
    text-align:center;
    padding-right:0pt
}
.c3{
    padding-top:0pt;
    padding-bottom:6pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c9{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    orphans:2;
    widows:2;
    text-align:justify
}
.c5{
    background-color:#ffffff;
    font-size:12pt;
    font-family:"Calibri";
    color:#241c15;
    font-weight:700
}
.c0{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-indent:-0.1pt;
    text-align:justify
}
.c1{
    background-color:#ffffff;
    font-size:12pt;
    font-family:"Calibri";
    color:#241c15;
    font-weight:400
}
.c10{
    background-color:#ffffff;
    font-size:12pt;
    font-family:"Calibri";
    color:#333333;
    font-weight:400
}
.c19{
    background-color:#ffffff;
    font-family:"Calibri";
    color:#241c15;
    font-weight:400
}
.c20{
    background-color:#ffffff;
    font-family:"Calibri";
    color:#333333;
    font-weight:700
}
.c15{
    background-color:#ffffff;
    font-family:"Calibri";
    color:#333333;
    font-weight:400
}
.c8{
    font-size:12pt;
    font-family:"Calibri";
    color:#241c15;
    font-weight:700
}
.c7{
    font-size:12pt;
    font-family:"Calibri";
    color:#241c15;
    font-weight:400
}
.c6{
    -webkit-text-decoration-skip:none;
    text-decoration:underline;
    text-decoration-skip-ink:none
}
.c12{
    text-decoration:none;
    vertical-align:baseline;
    font-style:normal
}
.c17{
    background-color:#ffffff;
    max-width:468pt;
    padding:72pt 72pt 72pt 72pt
}
.c2{
    color:inherit;
    text-decoration:inherit
}
.c13{
    vertical-align:baseline;
    font-style:normal
}
.c18{
    background-color:#fefefe
}
.c14{
    font-style:italic
}
.c11{
    height:11pt
}
.title{
    padding-top:0pt;
    color:#000000;
    font-size:26pt;
    padding-bottom:3pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:0pt;
    color:#666666;
    font-size:15pt;
    padding-bottom:16pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Arial"
}
h1{
    padding-top:20pt;
    color:#000000;
    font-size:20pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-size:16pt;
    padding-bottom:6pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:16pt;
    color:#434343;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:14pt;
    color:#666666;
    font-size:12pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:12pt;
    color:#666666;
    font-size:11pt;
    padding-bottom:4pt;
    font-family:"Arial";
    line-height:1.15;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
</style> 